*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}

body{
background: linear-gradient(135deg,#4e73df,#1cc88a);
min-height:100vh;
padding:40px;
color:#333;
}

h1{
text-align:center;
margin-bottom:30px;
color:white;
}

h2{
margin:20px 0 10px 0;
color: white;}

/* card */
.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
margin-bottom:20px;
}

/* form */
.form{
display:flex;
flex-wrap:wrap;
gap:10px;
margin-bottom:20px;
}

.form input{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
flex:1;
min-width:150px;
}

.form input:focus{
outline:none;
border-color:#4e73df;
}

/* button */
button{
padding:8px 14px;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:bold;
transition:0.3s;
}

.form button{
background:#1cc88a;
color:white;
}

.form button:hover{
background:#17a673;
}

.table-btn{
background:#4e73df;
color:white;
}

.table-btn:hover{
background:#2e59d9;
}

/* table */
table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

th{
background:#4e73df;
color:white;
padding:12px;
}

td{
padding:10px;
border-bottom:1px solid #eee;
}

tr:hover{
background:#f5f5f5;
}

/* result */
#result{
margin-top:20px;
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}