<!DOCTYPE html>
<html>
<head>
<title>Pelacakan Alumni</title>
<link rel="stylesheet" href="/static/style.css">
<script src="/static/script.js"></script>
</head>

<body>

<div class="container">

  <div class="header">
    <h2>Dashboard Alumni</h2>
    <a href="/logout">
      <button class="logout">Logout</button>
    </a>
  </div>

  <br>

  <input type="text" id="searchInput" placeholder="🔍 Cari alumni..." onkeyup="searchAlumni()">

  <table>
    <thead>
      <tr>
        <th>Nama</th>
        <th>Tahun</th>
        <th>Prodi</th>
        <th>Kota</th>
        <th>Aksi</th>
      </tr>
    </thead>

    <tbody id="alumniTable"></tbody>
  </table>

</div>

<!-- POPUP -->
<div id="popup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="closePopup()">&times;</span>
    <div id="popupResult"></div>
  </div>
</div>

</body>
</html>
